<div id="app" style="width: auto; padding: 20px;">
    <ui-prop>
        <ui-label slot="label" value="i18n:athana-cocos.panels.config_sdk_android_version"></ui-label>
        <ui-input id="versionInput" value="1.3.0" placeholder="Version, e.g., 1.3.0" slot="content"></ui-input>
    </ui-prop>

    <div style="height: 20px;"></div>

    <ui-prop>
        <ui-label slot="label" value="i18n:athana-cocos.panels.config_enable"></ui-label>
        <ui-checkbox id="enableCheckBox" slot="content"></ui-checkbox>
    </ui-prop>

    <div style="height: 20px;"></div>

    <ui-button id="saveBtn">
        <ui-label value="i18n:athana-cocos.panels.config_save"></ui-label>
    </ui-button>

</div>